<div class="row-fluid">
    <h1 style="text-align: center"><strong>SARABJEET KAUR</strong></h1>
    <div class="form-horizontal" role="form">
        <div class="form-group">
            <div class="col-sm-3"></div>
            <div class="col-sm-4">
                <label for="email" class="control-label"><strong>E-Mail</strong></label>
                <div>
                    <em>sarabjeetkbagga@gmail.com</em>
                </div>
            </div>
            <div class="col-sm-4">
                <label for="contact" class="control-label"><strong>Contact</strong></label>
                <div>
                    <em>(+91) 97*****274</em>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <p style="text-align: center">
        Hands on experience in developer operations and automation. Interested in working on Cloud Technologies and Frameworks. Flexible in absorbing new technology & confidence in handling projects
    </p>

    <br>
    <label for="ProfessionalSynopsis" style="font-size: x-large; font-weight: bold">Professional Synopsis</label>
    <hr>
    <ul>
        <li>2 year experience in the IT industry, with experience in automation and developer operations</li>
        <li>Strong troubleshooting skills</li>
        <li>Strong passion to ensure systems/applications are up and running.</li>
        <li>Have experience in interacting with various teams and understanding the requirements</li>
        <li>Posses good communication skills and worked as a team</li>
    </ul>

    <br>
    <label for="TechnicalSkills" style="font-size: x-large; font-weight: bold">Technical Skills</label>
    <hr>
    <table class="table table-hover table-striped table-bordered">
        <tbody>
            <tr>
                <th>Languages</th>
                <td>Python, Shell, Tcl</td>
            </tr>
            <tr>
                <th>Technologies and Frameworks</th>
                <td>Shell Scripting, Automation using Tcl, Vim, Networking, Wireshark</td>
            </tr>
            <tr>
                <th>Databases</th>
                <td>Postgres</td>
            </tr>
            <tr>
                <th>Revision Control</th>
                <td>Perforce, Git</td>
            </tr>
            <tr>
                <th>Operating Systems</th>
                <td>Linux</td>
            </tr>
        </tbody>
    </table>

    <br>
    <label for="ExperienceSummary" style="font-size: x-large; font-weight: bold">Experience Summary</label>
    <hr>
    <table class="table table-hover table-striped table-bordered">
        <thead>
            <tr>
                <td>Company</td>
                <td>Job Profile</td>
                <td>Duration</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Ixia Technologies  Pvt. Ltd.</td>
                <td>Devops and Automation Engineer</td>
                <td>Jan 2015 – Till Date</td>
            </tr>
            <tr>
                <td>Apostek Software India Pvt. Ltd.</td>
                <td>QA Automation, Network Engineer</td>
                <td>April, 2014 – Dec, 2014</td>
            </tr>
        </tbody>
    </table>

    <br>
    <label for="ProjectExperience" style="font-size: x-large; font-weight: bold">Professional Experience and Projects Handled</label>
    <hr>
    <table class="table table-hover table-striped table-bordered">
        <tbody>
            <tr>
                <th style="background-color: #C6C6C6">
                    <div>
                        <label for="project" style="font-size: large; font-weight: bold">Project:</label>
                        <em style="font-weight: lighter">Building Statistics Monitoring and Alerting for Ixia</em>
                    </div>
                    <div>
                        <label for="project" style="font-size: large; font-weight: bold">Employee:</label>
                        <em style="font-weight: lighter">Ixia Technologies</em>
                    </div>
                    <div>
                        <label for="project" style="font-size: large; font-weight: bold">Environment:</label>
                        <em style="font-weight: lighter">Python, Postgres, Nagios</em>
                    </div>
                </th>
                <td>
                    <ul>
                        <li>Written wrapper scripts in python which saves statistics to postgres database server.</li>
                        <li>Exposed APIs to retrieve the statistics for jobs to be displayed on Web Page.</li>
                        <li>Deploying Nagios alerts for various checks based on statistics gathered from the Ixia Network.</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th style="background-color: #C6C6C6">
                    <div>
                        <label for="project" style="font-size: large; font-weight: bold">Project:</label>
                        <em style="font-weight: lighter">Building Automation Tools.</em>
                    </div>
                    <div>
                        <label for="project" style="font-size: large; font-weight: bold">Employee:</label>
                        <em style="font-weight: lighter">Apostek</em>
                    </div>
                    <div>
                        <label for="project" style="font-size: large; font-weight: bold">Environment:</label>
                        <em style="font-weight: lighter">Tcl, Jenkins (CI), Perforce, Wireshark.</em>
                    </div>
                </th>
                <td>
                    <ul>
                        <li>Written Automation Scripts for deploying various routing protocols to the Ixia Network for testing routers.</li>
                        <li>Automation scripts to run test suites using Ixia APIs.</li>
                        <li>Used Wireshark to analyze the system and the testing network is running properly and the deployment is proper.</li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

    <br>
    <label for="Qualification" style="font-size: x-large; font-weight: bold">Qualification</label>
    <hr>
    <table class="table table-hover table-striped table-bordered">
        <thead>
            <tr>
                <td>S.NO</td>
                <td>Standard</td>
                <td>University</td>
                <td>Year of Passing</td>
                <td>Aggregate (%)</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>M.Tech(Network Engg)</td>
                <td>Manipal University</td>
                <td>2013</td>
                <td>8.38 CGPA</td>
            </tr>
            <tr>
                <td>2</td>
                <td>B.E(E&TC)</td>
                <td>Pune University</td>
                <td>2009</td>
                <td>67.7</td>
            </tr>
        </tbody>
    </table>

    <br>
    <label for="Certifications" style="font-size: x-large; font-weight: bold">Certifications</label>
    <hr>
    <ul>
        <li>Cisco Certified Network Associate (CCNA)</li>
    </ul>
</div>